<div class="contact__link">
    <ul class="contact__list">
        <li class="contact__list--rrss pad--mobile">
            <a href="" class="icon__link--mobile" title="" id="linkMobile">
                <i class="contact__list--icon fas fa-mobile-alt"></i>
            </a>
        </li>
        <li class="contact__list--rrss">
            <a href="" id="linkEmail">
                <i class="contact__list--icon far fa-envelope"></i>
            </a>
        </li>
        <li class="contact__list--rrss">
            <a href="" id="linkEdin">
                <i class="contact__list--icon fab fa-linkedin-in"></i>
            </a>
        </li>
        <li class="contact__list--rrss">
            <a href="" id="linkGithub">
                <i class="contact__list--icon fab fa-github-alt"></i>
            </a>
        </li>
    </ul>
</div>