<legend class="legend legend__distribution">
  <i class="far fa-object-ungroup fa-lg legend__icon"></i>
  <h2 class="legend__title title__legend--grey">Diseña</h2>
  <i class="fas fa-chevron-up legend__arrow"></i>
</legend>
<label class="option__distribution" for="colors">
  <p class="option__title subtitle__legend--grey">Colores</p>
  <div class="option__container">
    <label class="color__container">
      <div class="color-item radio__container">
        <input
          class="radio"
          type="radio"
          id="colors"
          name="colors"
          value="green"
        />
        <span class="checkmark" id="p1"></span>
      </div>
      <div class="palette--1">
        <div class="color-item bg__dark"></div>
        <div class="color-item bg__medium"></div>
        <div class="color-item bg__light"></div>
      </div>
    </label>

    <label class="color__container">
      <div class="color-item radio__container">
        <input
          class="radio"
          type="radio"
          id="colors"
          name="colors"
          value="green"
        />
        <span class="checkmark" id="p2"></span>
      </div>
      <div class="palette--2">
        <div class="color-item bg__dark"></div>
        <div class="color-item bg__medium"></div>
        <div class="color-item bg__light"></div>
      </div>
    </label>
    <label class="color__container">
      <div class="color-item radio__container">
        <input
          class="radio"
          type="radio"
          id="colors"
          name="colors"
          value="green"
        />
        <span class="checkmark" id="p3"></span>
      </div>
      <div class="palette--3">
        <div class="color-item bg__dark"></div>
        <div class="color-item bg__medium"></div>
        <div class="color-item bg__light"></div>
      </div>
    </label>
  </div>
</label>
