<legend class="legend legend__distribution">
    <i class="far fa-object-ungroup fa-lg legend__icon"></i>
    <h2 class="legend__title title__legend--grey">Diseña</h2>
    <i class="fas fa-chevron-up legend__arrow"></i>
</legend>
<label class="option__distribution" for="colors">
    <p class="option__title subtitle__legend--grey">Colores</p>
    <div class="option__container" id="form-for-preview">

        <label class="color__container">
            <div class="color-item radio__container">
                <input class="radio" type="radio" id="colors" name="colors" value="green" checked/>
                <span class="checkmark"></span>
            </div>
            <div class="color-item green--1"></div>
            <div class="color-item green--2"></div>
            <div class="color-item green--3"></div>
        </label>
        
        <label class="color__container">
                <div class="color-item radio__container">
                    <input class="radio" type="radio" id="colors" name="colors" value="red"/>
                    <span class="checkmark"></span>
                </div>
                <div class="color-item red--1"></div>
                <div class="color-item red--2"></div>
                <div class="color-item red--3"></div>
            </label>
            <label class="color__container">
                    <div class="color-item radio__container">
                        <input class="radio" type="radio" id="colors" name="colors" value="blue"/>
                        <span class="checkmark"></span>
                    </div>
                    <div class="color-item grey--1"></div>
                    <div class="color-item grey--2"></div>
                    <div class="color-item grey--3"></div>
                </label>
    </div>
</label>
    