<legend class="legend legend__distribution">
    <i class="far fa-keyboard legend__icon"></i>
    <h2 class="legend__title title__legend--grey">Rellena</h2>
</legend>

<div class="fill-in__item">
    <label class="fill-in__label" for="full_name">Nombre completo</label>
    <input class="fill-in__input" id="full_name" type="text" name="full_name" placeholder="Ej: Sally Jill" required/>
</div>

<div class="fill-in__item">
    <label class="fill-in__label" for="job">Puesto</label>
    <input class="fill-in__input" id="job" type="text" name="job" placeholder="Ej: Front-end"/>
</div>

<div class="fill-in__item">
    <label class="fill-in__label" for="img-profile">Imagen de perfil</label>

    <div class="fill-in__buttonImg-wrapper">
        <input class="fill-in__input fill-in__button " id="img-profile" type="button" name="img-profile"/>
        <div class="img-profile__preview"></div>
    </div>
</div>

<div class="fill-in__item">
    <label class="fill-in__label" for="email">Email</label>
    <input class="fill-in__input" id="email" type="email" name="email" placeholder="Ej: sally-jill@gmail.com"/>
</div>

<div class="fill-in__item">
    <label class="fill-in__label" for="phone">Teléfono</label>
    <input class="fill-in__input" id="phone" type="number" name="phone" placeholder="Ej: 555-55-55-55"/>
</div>
    
<div class="fill-in__item">
    <label class="fill-in__label" class="fill-in__label" for="linkedin">Linkedin</label>
    <input class="fill-in__input" id="linkedin" type="text" name="linkedin" placeholder="Ej: linkedin.com/in/sally.hill"/>
</div>

<div class="fill-in__item">
    <label class="fill-in__label" for="github">Github</label>
    <input class="fill-in__input" id="github" type="text" name="github" placeholder="Ej: @sally-hill"/>
</div>



