<legend>Rellena</legend>

<label for="full_name">Nombre completo</label>
<input id="full_name" type="text" name="full_name" placeholder="Ej: Sally Jill" required/>

<label for="job">Puesto</label>
<input id="job" type="text" name="job" placeholder="Ej: Front-end"/>

<label for="img-profile">Imagen de perfil</label>
<input id="img-profile" type="button" name="img-profile"/>
<div class="img-profile__preview"></div>

<label for="email">Email</label>
<input id="email" type="email" name="email" placeholder="Ej: sally-jill@gmail.com"/>

<label for="phone">Teléfono</label>
<input id="phone" type="number" name="phone" placeholder="Ej: 555-55-55-55"/>

<label for="linkedin">Linkedin</label>
<input id="linkedin" type="text" name="linkedin" placeholder="Ej: linkedin.com/in/sally.hill"/>

<label for="github">Github</label>
<input id="github" type="text" name="github" placeholder="Ej: @sally-hill"/>



