<div class="main-container">
    <ul class="main-footer__list align-text">
        <li class="main-footer__list-text">Awesome profile-cards © 2019</li>
        <li class="main-footer__list-adalab">
            <img src="assets/images/logo-adalab.png" alt="Imagen Adalab">
        </li>
        <li class="main-footer__list-logo">
            <a href="." title="Link to Home">
                <img class="main-footer__list-img" src="assets/images/octomeow.png" alt="Imagen Octomeow">
            </a>
        </li>
    </ul>
</div>