<form class="form" action="">
  <div class="wrapper">
    <fieldset class="preview">
      <partial src="_preview.html"></partial>
    </fieldset>
    <div class="collapsible__container">
      <fieldset class="design">
        <partial src="_design.html"></partial>
      </fieldset>
      <fieldset class="fill-in">
        <partial src="_fill-in.html"></partial>
      </fieldset>
      <fieldset class="share">
        <partial src="_share.html"></partial>
      </fieldset>
    </div>
  </div>
</form>
