<form class="form" action="">
  <div class="wrapper">
    <fieldset class="form__preview">
      <partial src="_preview.html"></partial>
    </fieldset>
    <div class="form__content">
      <fieldset class="form__design">
        <partial src="_design.html"></partial>
      </fieldset>
      <fieldset class="form__fill-in">
        <partial src="_fill-in.html"></partial>
      </fieldset>
      <fieldset class="form__share">
        <partial src="_share.html"></partial>
      </fieldset>
    </div>
  </div>
</form>
