<ul class="section-landing__list">
    <li class="section-landing__list-item flex-direction align-text">
        <i class="far fa-object-ungroup section-landing__list-icon"></i>
        <span class="section-landing__list-text">Diseña</span>
    </li>
    <li class="section-landing__list-item flex-direction align-text">
        <i class="far fa-keyboard section-landing__list-icon"></i>
        <span class="section-landing__list-text">Rellena</span>
    </li>
    <li class="section-landing__list-item flex-direction align-text">
        <i class="fas fa-share-alt section-landing__list-icon"></i>
        <span class="section-landing__list-text">Comparte</span>
    </li>
</ul>