<legend class="legend-test">
    <div class="reset-button">
        <label for="reset" class="visually-hidden">Botón de borrar</label>
        <i class="far fa-trash-alt"></i>
        <input type="reset" id="reset" />
    </div>
</legend>
<div class="card-preview palette--1">
    <div class="card--header">
        <div class="sidebar bg__light"></div>
        <div class="main--data">
            <p class="full-name txt__dark">Nombre de prueba</p>
            <p class="occupation txt__medium"></p>
        </div>
    </div>
    <div class="user--profile__pic">
        <img src="https://via.placeholder.com/240x200" alt="foto de perfil">
    </div>
    <div>
        <partial src=_contact.html></partial>
    </div>
</div>
