<section class="preview-container">
  <div class="button-container">
    <div class="reset-button">
      <label for="reset" class="visually-hidden">Botón de borrar</label>
      <button class="reset--button" type="button" id="reset">
        <i class="far fa-trash-alt"></i>Reset
      </button>
    </div>
</legend>
<div class="card-preview default--palette">
    <div class="card--header">
        <div class="sidebar bg__light"></div>
        <div class="main--data">
            <p class="full-name txt__dark">Nombre de prueba</p>
            <p class="occupation txt__medium"></p>
        </div>
    </div>
    <div class="user--profile__pic">
      <img src="assets/images/default-profile-pic.png" alt="foto de perfil" />
    </div>
    <div>
      <partial src="_contact.html"></partial>
    </div>
  </div>
</section>
