<legend  class="legend">
    <i class="fas fa-share-alt legend__icon legend__icon--share"></i>
    <h2 class="legend__title">Comparte</h2>
    <i class="fas fa-chevron-down legend__arrow"></i>
</legend>

<div class="share__container hidden collapsibles">
    <button class="share-button" type="button">
        <i class="far fa-address-card"></i>
        Crear tarjeta
    </button>

    <section class="section__twitter collapsible__hidden">
        <h3 class="title-twitter">La tarjeta ha sido creada:</h3>
        <a class="twitter-link" href="#">https://awesome-profile-card.com?id=A456Dkhhñjkhjkbsad</a>
        <button class="button-twitter">
            <i class="fab fa-twitter twitter-icon"></i>
            Compartir en Twitter
        </button>
</section>
</div>
   

