<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="icon" href="favicon.png"/>
	<link href="https://fonts.googleapis.com/css?family=Merriweather:900|Montserrat:400,700|Open+Sans:400,600" rel="stylesheet">
    <title>Awesome Profile Cards</title>
</head>
<body>
    <div class="main-container">
        <header>
            <partial src="_header.html"></partial>
        </header>
        <main>
            <form action="">
                <fieldset class="design">
                    <partial src="_design.html"></partial>
                </fieldset>
                <fieldset class="fill-in">
                    <partial src="_fill-in.html"></partial>
                </fieldset>
                <fieldset class="share">
                    <partial src="_share.html"></partial>
                </fieldset>
            </form>
        </main>
        <footer></footer>
    </div>  
</body>
</html>