
.reset-button{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $color-whiteSnow;
    border-radius: 15px;
    #reset{
        border: 0px transparent;
        background-color:transparent;
        font-family: $font-collapsibleLegend;
        color: $color-greyMouse;
        font-size: 14px;
        text-transform: capitalize;
        padding: 10px;
    }

}

.fill-in__button {
    height: 30px;
    width: 140px;
    margin-top: 6px;
    margin-bottom: 20px;
    border: 0px;
    border-radius: 5px;
    background-color: $color-orangeButane;
    box-shadow: 0 0 5px $color-greyLight;
}