
.reset--button{
    display:flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid $color-whiteSnow;
    border-radius: 15px;
    padding: 5px 10px;
    background-color:transparent;
    font-family: $font-collapsibleLegend;
    color: $color-greyMouse;
    font-size: 12px;
    text-transform: capitalize;
    i{
        margin-right:10px;
    }
}