fieldset {
    padding: 0;
    margin: 0;
}

.legend {
    width: 100%;
    height: 50px;
    border: none;
    padding: 0;
    margin: 0;

    &__distribution {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;

        .legend__icon {
            padding: 13px 0;
            flex-basis: 54px;
            color: $color-orangeButane;
        }

        .legend__title {
            flex-basis: calc(100% - 108px);
            text-align: left;
        }

        .legend__arrow {
            flex-basis: 54px;
            padding: 13px 0;
            color: $color-greyMouse;
            display: flex;
            justify-content: flex-end;
        }
    }
}