.form {
    background-image: linear-gradient(to bottom, #f5f5f5, #f7f7f7, #fafafa, #fcfcfc, #ffffff);
    min-width: 320px;
    display: flex;
    justify-content: center;


    .collapsible__container {
        padding-right:20px;
    }

    .preview {
        min-height: 300px;
        min-width: 320px;
        background: linear-gradient($color-silverBlue, $color-paleGrey);
    }

    @media all and (min-width: 768px) {

        .wrapper{
            display: flex;
            flex-direction: row-reverse;
            max-width: 768px;
            padding: 30px;
        }

        .preview {            
            margin: 23px 40px 21px 0;
            border-radius: 6px;
        }

        .collapsible__container {
            flex-basis: 50%;
            max-width: 379px;

        }
    }

    @media all and (min-width: 1024px) {
        display: flex;
        flex-direction: row-reverse;

        .preview {
            flex-grow: 1;
            margin-left: 20px;
        }

        // .collapsible__container {
        //     flex-basis: 329px;
        //     margin-right: 10px;
        // }
    }
}

.design, .fill-in, .share {
    border:  none;
}