.gradient {
    background: $color-bg;
    background: linear-gradient(to bottom, $color-bg 0%, $color-whiteSnow 100%);

    &-landing {
        background: $color-bg;
    }
}

.header-landing {
    margin: 5em 0 30px;

    &__img {
        width: 250px;
        display: block;
    }

    @media all and (min-width: 768px) {
        &__img {
            width: 420px;
        }
    }
}