.share {
    display: flex;
    flex-direction: column;
}

.legend__container {
    width: 100%;
    @include legendDistribution;
}

.legend__icon--share {
    @include formIcon;
    margin-right: 12px;
}

.form__arrow {
    color: $color-greyMouse;
    width: 16px;
    height: 18px;
    transform: rotate(180deg);
    align-self: flex-end;   
}

.share-button {
    height: 50px;
    width: 199px;
    background-color: $color-orangeButane;
    color: $color-whiteSnow;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    border-radius: 12px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
   

}

