$color-blackZero: #000000;
$color-blueCoal: #114e4e;
$color-blueSky: #438792;
$color-greenHospital: #a2deaf;
$color-brownSand: #f9f4dc;
$color-whiteSnow: #fff;
$color-orangeButane: #e17334;
$color-greyMouse: #54585a;
$color-greyLight: #6b6b6b;
$color-blueTwitter:#00a0f5;
$color-greyLine: #d5d5d5;
$color-silverBlue:#bfcdd0;
$color-paleGrey:#dde9ed;

$font-mainTitle: 'Merriweather', serif;
$font-cardName: 'Montserrat', sans-serif;
$font-collapsibleLegend: 'Open Sans', sans-serif;

$color-bg: #f5f5f5;
$color-greyLine: #d8d8d8;
$color-blueSpace: #38727b;
