$color-blackZero: #000000;
$color-blueCoal: #114e4e;
$color-blueSky: #438792;
$color-greenHospital: #a2deaf;
$color-brownSand: #f9f4dc;
$color-whiteSnow: #fff;
$color-orangeButane: #e17334;
$color-greyMouse: #54585a;
$color-greyLight: #6b6b6b;




